{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello Coursera</title>
  </head>
  <body>
    <div class="1">
      <span>WELCOME TO MY PORTFOLIO</span>
      <span>WELCOME TO MY PORTFOLIO2</span>
    </div>
    <span>WELCOME TO MY PORTFOLIO3
      <div class="2">
        <h1>HELLO</h1>
      </div>
    </span>
    <span>WELCOME TO MY PORTFOLIO4</span>
    <section>
      <article class="1"><p> CHILD SELECTOR BABY </p></article>
    </section>
    <ul>
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
        <ol>
          <li>Four</li>
          <li>Five&nbsp</li>
        </ol>
    </ul>
    <a href="#"></a>
    <p> TESTING CSS: Regular Element Selector </p>
    <p class="red"> Testing Class Selector </p>
    <p id="name"> Testing id Selector </p>
    <p class="group"> Testing Grouped Selector </p>
    <p class="this"> Combining Selectors </p>
    <p class="double class"> Double Class </p>
    <section>
      <li>Descendant Selector</li>
    </section>
  </body>
</html>

{% endblock %}
